
body{
  width: 100%;
}
#nombrePi{
  text-align: left;
}
.pizzas{
  height: auto;
  overflow: hidden;
  float: left;
}
#menu {
  width: 100px;
  height: 100px;
  background: yellow;
  margin:20px;
  margin-right: 40%;
}
H1{
  text-align: center;
  font-size: 30px;
}
#menu2 {
  width: 100px;
  height: 100px;
  background: green;
  margin:20px;
  margin-right: 40%;

}
#menu3 {
  width: 100px;
  height: 100px;
  background: orange;
  margin:20px;
  margin-right: 40%;

}
#menu4 {
  width: 100px;
  height: 100px;
  background: red;
  margin:20px;
  margin-right: 40%;

}
#pizzafam{
  width: 50%;
  height: auto;
  overflow: hidden;
  text-align: center;
  float: right;
}
#redondo {
    position: relative;
    border: 1px solid black;
    padding: 0;
    margin: 40px;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
  }
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    border:solid 2px black;
  }
  .texto {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(45deg) rotate(15deg);
    padding-top: 20px;

  }
  li:first-child {
    transform: rotate(0deg) skewY(-45deg);
  }
  li:nth-child(2) {
    transform: rotate(45deg) skewY(-45deg);
  }
  li:nth-child(3) {
    transform: rotate(90deg) skewY(-45deg);
  }
  li:nth-child(4) {
    transform: rotate(135deg) skewY(-45deg);
  }
  li:nth-child(5) {
    transform: rotate(180deg) skewY(-45deg);
  }
  li:nth-child(6) {
    transform: rotate(225deg) skewY(-45deg);
  }
  li:nth-child(7) {
    transform: rotate(270deg) skewY(-45deg);
  }
  li:nth-child(8) {
    transform: rotate(315deg) skewY(-45deg);
  }
  li:first-child .texto {
    background: transparent;
  }
  li:nth-child(2) .texto {
    background: transparent;
  }
  li:nth-child(3) .texto {
    background: transparent;
  }
  li:nth-child(4) .texto {
    background: transparent;
  }
  li:nth-child(5) .texto {
    background: transparent;
  }
  li:nth-child(6) .texto {
    background: transparent;
  }
  li:nth-child(7) .texto {
    background: transparent;
  }
  li:nth-child(8) .texto {
    background: transparent;
  }
